.container {
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 32px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-66 {
  float: left;
  width: 60%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 40%;
  padding: 20px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.textcolumn {
  font-size: 24px;
}

@media screen and (max-width: 600px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }
}
