.container {
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-66 {
  float: left;
  width: 60%;
  padding: 0px 20px;
}

.column-33 {
  float: left;
  width: 40%;
  padding: 0px 20px;
  text-align: center;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.textcolumn {
  font-size: 24px;
  font-family: Lato, sans-serif;
}

@media screen and (max-width: 600px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .column-66 {
    width: 100%;
    text-align: center;
    padding: 5px;
  }
  .column-33 {
    width: 0%;
    text-align: center;
    padding: 0px;
  }
  img {
    margin: auto;
  }
}
